{
    "presets": [
        [
            "es2015", {
                "loose": true,
                "modules": false
            },
        ],
        "stage-2"
    ],
    "plugins": [
        [
            "transform-react-jsx",
            "transform-object-rest-spread",
            "react-hot-loader/babel"
        ]
    ]
}
