{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": 0,
        "import/no-unresolved": [
          2, {
            "ignore": [
              "^styles$",
              "^components/"
            ]
          }
        ],
    },
    "settings": {
        "import/resolver": "webpack"
      }
}
