{
    "extends": "airbnb",
    "env": {
        "browser": true
    },
    "rules": {
        "react/jsx-filename-extension": 0,
        "import/no-extraneous-dependencies": 0,
        "import/extensions": 0,
        "import/no-unresolved": [
          2, {
            "ignore": [
              "^styles/",
              "^components/",
              "^containers/",
              "^actions$"
            ]
          }
        ],
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.js"
              }
          }
      }
}
